.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 99;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 555;
}
.main_title {
  font-size: 3rem;
  font-family: 'Macondo', cursive;
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.second_title {
  font-family: 'Macondo', cursive;
  color: var(--gold);
  letter-spacing: 0.5rem;
}
